#root {
  max-width: 100vw;
  margin: 0;
  width: 100%;
  padding: 0;
}

/* Force transparent header */
.MuiAppBar-root {
  background-color: transparent !important;
  background: transparent !important;
}

.MuiAppBar-root .MuiToolbar-root {
  background-color: transparent !important;
  background: transparent !important;
}
